<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Title</title>
</head>
<body>

<form th:method="POST" th:action="@{/book/search}">

  <label for="name" >Enter a search query: </label>
  <input type="text" name="query" id="name"><!--  Мол всё что вводим здесь помещ-ся в name и отправляется как параметр метода -->
  <br/>

  <input type="submit" VALUE="Search!">
</form>
<br/>

<div th:if="${books}">

  <div th:if="${books.isEmpty()}">
    <span>Book not found</span>
  </div>

  <div th:each="book : ${books}">

    <p th:text="${book.getName()+', '+ book.getAuthor()+', '+ book.getYear()}">Book</p>

    <div th:if="${book.getOwner()!=null}">
      <span>The book is now at: </span> <span th:text="${book.getOwner().getFullName()}">Person name</span>
    </div>

    <div th:if="${book.getOwner()==null}">
      <span> The book is free </span>
    </div>
  </div>
  <br/>

</div>

</body>
</html>